@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active{
  transition: 1s opacity ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 1s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
